/*

!AshForest/
!AshForest/Source/

!AshForest/Content/
!AshForest/Content/_AshForest/
AshForest/Content/Collections/
AshForest/Content/Developers/
AshForest/Content/Geometry/
AshForest/Content/Mannequin/
AshForest/Content/StarterContent/
AshForest/Content/ThirdPerson/
AshForest/Content/ThirdPersonCPP/

AshForest/Binaries/
AshForest/Config/
AshForest/DerivedDataCache/
AshForest/Intermediate/
AshForest/Saved/

*.uproject
*.cs